.container{
    background-color: $dark-grey-color;
    height: 550px;
    text-align: center;
    position: relative;

    .left, .right{
        color: $light-grey-color;
        position: absolute;
        font-size: 35px;
        top: 250px
    }

    .left{
        left: 40px;
    }

    .right{
        right: 40px;
    }

    .up{
        position: absolute;
        right: 10px;
        top: 120px;
        padding: 10px 13px;
        background-color: $white-color;
        border-radius: 50%;
        color: $orange-color;
        }

    h1{
        font-size: 150px;
        color: $grey-color;
    }

    .person{
        color: $light-grey-color;
        width: 450px;
        position: absolute;
        top: 110px;
        left: 370px;

        img{
            border: 3px $white-color solid;
            border-radius: 50%;
        }

        h4{
            color: $white-color;
            padding: 15px 0;
        }

        .flex{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            div{
                padding: 0 10px;
            }

            .line{
                border-bottom: 2px $clear-grey-color solid;
                width: 35px;
            }

            .line-empty{
                border-bottom: 1px $light-grey-color solid;
                width: 75px;
            }
        }
    }
}